{% extends "layout.html" %} {% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Projects List</h1>
    <p class="lead">List of all </p>
</div>
<h1>This is a project page</h1>
{% for project in projects %}
<div class="container">
    <div class="col-sm-3">
        <div class="row">

            <div class="card-deck mb-4 text-center" style="max-width: 18rem;">

                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <img class="rounded-circle account-img" " src="{{url_for( 'static', filename='data_pics/product_img/' + project.project_image)}} ">

                    </div>
                    <div class="card-body ">
                        <h5 class="my-0 font-weight-normal "><a class="article-content " href="{{ url_for( 'projects.project', project=project.id) }} ">{{ project.projectname }}</a> </h5>
                        <h6 class="card-text ">Code:{{ project.projectcode }}</h6>
                        <h6 class="card-text ">Location:{{ project.projectlocation }}</h6>
                        <h6 class="card-text ">Description:{{ project.description }}</h6>
                        <h6 class="card-text "> Date Posted:{{ project.date_created.strftime('%Y-%m-%d') }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %} {% endblock content %}